<a href="https://colab.research.google.com/github/Karnis052/ML/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/2_dataframe_basics/weather_data.csv')
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
data['temperature'].max()

35

In [ ]:
data['day'][data['event']=='Rain']

0    1/1/2017
4    1/5/2017
Name: day, dtype: object

##  CSV can be created using ditionary.

In [ ]:
data.shape

(6, 4)

In [ ]:
data.head()  # head() print() first 5 rows default

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [ ]:
data.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
data.head(2) # get first 2 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [ ]:
data[1:3]   # iterator

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
data.columns  # print 1st rows' heading

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
data['event']  # print all the values of 'event' column

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [ ]:
type(data['windspeed'])  #pandas type

pandas.core.series.Series

In [ ]:
data[['event','temperature']]  # pass all the object that are need to print as a list

   event  temperature
0   Rain           32
1  Sunny           35
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           31

In [ ]:
data.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
data[data.temperature>=30]  # here termperature is an object of dataframe named 'data'

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
data[data.temperature == data['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [ ]:
data[['day', 'temperature','event']][data.temperature>=30]

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [ ]:
data.index   #data about indexing

RangeIndex(start=0, stop=6, step=1)

In [ ]:
data.loc[1]

day            1/2/2017
temperature          35
windspeed             7
event             Sunny
Name: 1, dtype: object

In [ ]:
data.set_index('day', inplace=True )  # set day as an index
# to modify original dataframe set inplace as 'True'

In [ ]:
data.loc['1/1/2017']  # row information where index is ='1/1/2017'

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [ ]:
print(data)

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
data.set_index('event')

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [ ]:
data.loc['Rain'] # Due to not making inplace change in index

KeyError: ignored

In [ ]:
data.set_index('event', inplace =True)

In [ ]:
data.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

# Different Ways of creating dataframe
 1. Using CSV
 2. Using Excel
 3. From python dictionary
 4. From list of tuples
 5. From list of dictionaries

In [ ]:
!wget -O info.csv https://www.dropbox.com/s/11t6v2v8dcl5r8c/data_sheet.csv?dl=0

--2022-07-06 15:17:48--  https://www.dropbox.com/s/11t6v2v8dcl5r8c/data_sheet.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.4.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.4.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/11t6v2v8dcl5r8c/data_sheet.csv [following]
--2022-07-06 15:17:48--  https://www.dropbox.com/s/raw/11t6v2v8dcl5r8c/data_sheet.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc677c1a5bb32b3722c66b39f814.dl.dropboxusercontent.com/cd/0/inline/Bom785pT4vsiy3Vn-yLcEP-CnsfnCyeFAFdwQrSO-QxzIPU8Fn8XePo4-aFypQA2pjB0aZBt0C1sCPfqdHhEOs-wHYxPxLzr46N0h7YhXR_A2Wi7fhSlTsPhOdy1UF1TUjdZRhUcuOrHCussGvLmZ_nYnoYiuxgYeEzK1CJjk9X44w/file# [following]
--2022-07-06 15:17:48--  https://uc677c1a5bb32b3722c66b39f814.dl.dropboxusercontent.com/cd/0/inline/Bom785pT4vsiy3Vn-yLcEP-CnsfnCyeFAFdwQrSO-QxzIPU8Fn8XePo4-aFypQA2pjB0aZBt0C1sCPfqdHhEOs-wHYxPxLzr46N0h7YhXR_A2Wi7fhSlTsPhOdy1UF1TUjdZRhUcuOrHCussGvLmZ_nYnoYiuxgYeEzK1CJjk9X44w/file
Resolving uc677c1a5bb32b3722c66b39f814.dl.dropboxusercontent.com (uc677c1a5bb32b3722c66b39f814.dl.dropboxusercontent.com)... 162.125.4.15, 2620:100:601c:15::a27d:60f
Connecting to uc677c1a5bb32b3722c66b39f814.dl.dropboxusercontent.com (uc677c1a5bb32b3722c66b39f814.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 135 [text/plain]
Saving to: ‘info.csv’

info.csv            100%[===================>]     135  --.-KB/s    in 0s

2022-07-06 15:17:49 (19.1 MB/s) - ‘info.csv’ saved [135/135]

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('info.csv')
data.head()

       day   temperature  windspeed   event
0  1/1/2022           32           6   Rain
1  1/2/2022           35           7  Sunny
2  1/3/2022           28           2   Snow
3  1/4/2022           25           5   Snow
4  1/5/2022           35           5  Sunny

In [ ]:
data

       day   temperature  windspeed   event
0  1/1/2022           32           6   Rain
1  1/2/2022           35           7  Sunny
2  1/3/2022           28           2   Snow
3  1/4/2022           25           5   Snow
4  1/5/2022           35           5  Sunny

I cann't manage how to make  dataframe from local disk, storage of google colab using read_csv

In [ ]:
# Import csv from storage
data_file = pd.read_csv('/content/info.csv')
data_file
data_file = pd.read_csv('/content/habiajbi - Sheet1.csv')
print(data_file)
data_file

       day   temperature  windspeed   event
0  1/1/2022           32           6   Rain
1  1/2/2022           35           7  Sunny
2  1/3/2022           28           2   Snow
3  1/4/2022           25           5   Snow
4  1/5/2022           35           5  Sunny

       day   temperature  windspeed   event
0  1/1/2022           32           6   Rain
1  1/2/2022           35           7  Sunny
2  1/3/2022           28           2   Snow
3  1/4/2022           25           5   Snow
4  1/5/2022           35           5  Sunny

I cann't manage how to take dataframe from local disk as a csv file

In [ ]:
data_file = pd.read_csv("C:/Users/User/Downloads/data_sheet.csv")

FileNotFoundError: ignored

# Data Frame using dictionary

In [ ]:
w_data = {
    'day':['1/1/2022','1/2/2022','1/3/2022'],
    'temperature':[32,35,27],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
}
data_frame = pd.DataFrame(w_data)
data_frame

        day  temperature  windspeed  event
0  1/1/2022           32          6   Rain
1  1/2/2022           35          7  Sunny
2  1/3/2022           27          2   Snow

# Data Frame using tuple. One row containing in one row

In [ ]:
w_data = {
    ('1/1/2022',32,6,'Rain'),
    ('1/2/2022',35,7,'Sunny'),
    ('1/3/2022',27,2,'Snow')
}
data_frame = pd.DataFrame(w_data,columns=['day','temperature','windspeed','event'])
data_frame

        day  temperature  windspeed  event
0  1/3/2022           27          2   Snow
1  1/2/2022           35          7  Sunny
2  1/1/2022           32          6   Rain

In [ ]:
!wget -O stack.csv https://raw.githubusercontent.com/codebasics/py/master/pandas/4_read_write_to_excel/stock_data.csv

--2022-07-06 23:45:59--  https://raw.githubusercontent.com/codebasics/py/master/pandas/4_read_write_to_excel/stock_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 178 [text/plain]
Saving to: ‘stack.csv’

stack.csv           100%[===================>]     178  --.-KB/s    in 0s

2022-07-06 23:45:59 (8.20 MB/s) - ‘stack.csv’ saved [178/178]

In [ ]:
data_stack = pd.read_csv('stack.csv')

In [ ]:
data_stack

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [ ]:
data_stack = pd.read_csv('stack.csv', skiprows =1) # skip the first row
data_stack

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [ ]:
data_stack = pd.read_csv('stack.csv', header =2) # skip the first 2 row
data_stack

    WMT           4.61  484    65           n.a.
0  MSFT             -1   85    64     bill gates
1  RIL   not available   50  1023  mukesh ambani
2  TATA            5.6   -1  n.a.     ratan tata

In [ ]:
data_stack = pd.read_csv('stack.csv', header =None) # 'header=None' will remove header name of the original file and place o-n as header of the column
data_stack

         0              1        2      3              4
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [ ]:
data_stack = pd.read_csv('stack.csv', header =None, names =['tickets', 'eps','revenue','price','people']) # renaming the column header
data_stack

   tickets            eps  revenue  price         people
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [ ]:
data_stack = pd.read_csv('stack.csv', nrows=3) #read first three rows without header 
data_stack

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

In [ ]:
data_stack = pd.read_csv('stack.csv', na_values =['not available', 'n.a.']) #replace with NaN
data_stack

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [ ]:
na_value ={
    'eps': ['not available','n.a.'],
    'revenue':['not available','n.a.',-1],
    'people':['not available','n.a.']
}

In [ ]:
data_stack = pd.read_csv('stack.csv', na_values =na_value)
data_stack

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [ ]:
data_stack.fillna(0, inplace =True)
data_stack

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65              0
2    MSFT  -1.00     85.0    64     bill gates
3    RIL    0.00     50.0  1023  mukesh ambani
4    TATA   5.60      0.0  n.a.     ratan tata

In [ ]:
data_stack.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [ ]:
new_stack= data_stack[['tickers','eps']]
new_stack

  tickers    eps
0   GOOGL  27.82
1     WMT   4.61
2    MSFT  -1.00
3    RIL    0.00
4    TATA   5.60

In [ ]:
data_stack['people'] =data_stack['people'].fillna('Zucker')
data_stack

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65         Zucker
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [ ]:
data_stack = pd.read_csv('stack.csv')

In [ ]:
data_stack = pd.read_csv('stack.csv', na_values =na_value)
data_stack

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [ ]:
def func(cell):
  if(cell=='n.a.'):
    return 'Abul'
  else:
    return cell;

data_stack = pd.read_csv('stack.csv', converters={
    'people': func
})
data_stack

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           Abul
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

# Handling missing data in dataframe
1. fillna to fill massive valuse 
2.interpolate to make a guess on massive values using interpolation
2. dropna to drop rows with massive value

In [ ]:
import pandas as pd

In [ ]:
!wget -O weather.csv https://www.dropbox.com/s/11t6v2v8dcl5r8c/data_sheet.csv?dl=0

--2022-07-07 02:06:37--  https://www.dropbox.com/s/11t6v2v8dcl5r8c/data_sheet.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.85.18, 2620:100:6035:18::a27d:5512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.85.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/11t6v2v8dcl5r8c/data_sheet.csv [following]
--2022-07-07 02:06:38--  https://www.dropbox.com/s/raw/11t6v2v8dcl5r8c/data_sheet.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf57d6f7f15f43ade2f239e4fb0.dl.dropboxusercontent.com/cd/0/inline/BonzehEmdbKj7W-L-Wp4Nngv_Hmz-W31zse3RNnM3c1gTjXu3g3wCTuSyYV9whVe4AwFdYNh7bHYMNmZbQJqCtTw4bcY6CPY8PrKRVAezzOziAvXBd_CeHAR9xwucxlgKQbTJ_OiNBrSrhfuQK_V15CKHTO1C-ZDYr15yEtJYP81sg/file# [following]
--2022-07-07 02:06:38--  https://ucf57d6f7f15f43ade2f239e4fb0.dl.dropboxusercontent.com/cd/0/inline/BonzehEmdbKj7W-L-Wp4Nngv_Hmz-W31zse3RNnM3c1gTjXu3g3wCTuSyYV9whVe4AwFdYNh7bHYMNmZbQJqCtTw4bcY6CPY8PrKRVAezzOziAvXBd_CeHAR9xwucxlgKQbTJ_OiNBrSrhfuQK_V15CKHTO1C-ZDYr15yEtJYP81sg/file
Resolving ucf57d6f7f15f43ade2f239e4fb0.dl.dropboxusercontent.com (ucf57d6f7f15f43ade2f239e4fb0.dl.dropboxusercontent.com)... 162.125.81.15, 2620:100:6030:15::a27d:500f
Connecting to ucf57d6f7f15f43ade2f239e4fb0.dl.dropboxusercontent.com (ucf57d6f7f15f43ade2f239e4fb0.dl.dropboxusercontent.com)|162.125.81.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 135 [text/plain]
Saving to: ‘weather.csv’

weather.csv         100%[===================>]     135  --.-KB/s    in 0s

2022-07-07 02:06:38 (25.0 MB/s) - ‘weather.csv’ saved [135/135]

In [ ]:
! wget -O weather.csv https://raw.githubusercontent.com/codebasics/py/master/pandas/5_handling_missing_data_fillna_dropna_interpolate/weather_data.csv

--2022-07-07 02:35:16--  https://raw.githubusercontent.com/codebasics/py/master/pandas/5_handling_missing_data_fillna_dropna_interpolate/weather_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 191 [text/plain]
Saving to: ‘weather.csv’

weather.csv         100%[===================>]     191  --.-KB/s    in 0s

2022-07-07 02:35:16 (5.86 MB/s) - ‘weather.csv’ saved [191/191]

In [ ]:
data_weather = pd.read_csv('weather.csv')
data_weather

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
print(data_weather.day[0])
type(data_weather.day[0])

1/1/2017

str

In [ ]:
data =  pd.read_csv('weather.csv',parse_dates=['day'])
data

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
print(data.day[0])
type(data.day[0])

2017-01-01 00:00:00

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
nw_data = data.fillna(0)
nw_data

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          0.0        9.0   Sunny
2 2017-01-05         28.0        0.0    Snow
3 2017-01-06          0.0        7.0       0
4 2017-01-07         32.0        0.0    Rain
5 2017-01-08          0.0        0.0   Sunny
6 2017-01-09          0.0        0.0       0
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
nw_data = data.fillna({
    'temperature': 0,
    'windspeed': 0,
    'event':'no evenet'
})  # valiue in data frame must be scalar or dictionary
nw_data

         day  temperature  windspeed      event
0 2017-01-01         32.0        6.0       Rain
1 2017-01-04          0.0        9.0      Sunny
2 2017-01-05         28.0        0.0       Snow
3 2017-01-06          0.0        7.0  no evenet
4 2017-01-07         32.0        0.0       Rain
5 2017-01-08          0.0        0.0      Sunny
6 2017-01-09          0.0        0.0  no evenet
7 2017-01-10         34.0        8.0     Cloudy
8 2017-01-11         40.0       12.0      Sunny

In [ ]:
nw_data = data.fillna(method ='ffill') # carry forward current value
nw_data

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        7.0   Sunny
6 2017-01-09         32.0        7.0   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
nw_data = data.fillna(method ='ffill')
nw_data

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        7.0   Sunny
6 2017-01-09         32.0        7.0   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
nw_data = data.fillna(method ='ffill', axis ='columns')
nw_data

         day          temperature            windspeed                event
0 2017-01-01                 32.0                  6.0                 Rain
1 2017-01-04  2017-01-04 00:00:00                  9.0                Sunny
2 2017-01-05                 28.0                 28.0                 Snow
3 2017-01-06  2017-01-06 00:00:00                  7.0                  7.0
4 2017-01-07                 32.0                 32.0                 Rain
5 2017-01-08  2017-01-08 00:00:00  2017-01-08 00:00:00                Sunny
6 2017-01-09  2017-01-09 00:00:00  2017-01-09 00:00:00  2017-01-09 00:00:00
7 2017-01-10                 34.0                  8.0               Cloudy
8 2017-01-11                 40.0                 12.0                Sunny

In [ ]:
nw_data = data.fillna(method ='ffill', limit =1)
nw_data

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        NaN   Sunny
6 2017-01-09          NaN        NaN   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

For better guess in missing value interpolate is used

In [ ]:
data_we = pd.read_csv('weather.csv')
data_we

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
nw_data = data_we.interpolate()
nw_data

         day  temperature  windspeed   event
0   1/1/2017    32.000000       6.00    Rain
1   1/4/2017    30.000000       9.00   Sunny
2   1/5/2017    28.000000       8.00    Snow
3   1/6/2017    30.000000       7.00     NaN
4   1/7/2017    32.000000       7.25    Rain
5   1/8/2017    32.666667       7.50   Sunny
6   1/9/2017    33.333333       7.75     NaN
7  1/10/2017    34.000000       8.00  Cloudy
8  1/11/2017    40.000000      12.00   Sunny

In [ ]:
data_we.set_index('day', inplace= True)
data_we

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [ ]:
nww = data_we.interpolate(method ='slinear')
nww

         day  temperature  windspeed   event
0   1/1/2017    32.000000       6.00    Rain
1   1/4/2017    30.000000       9.00   Sunny
2   1/5/2017    28.000000       8.00    Snow
3   1/6/2017    30.000000       7.00     NaN
4   1/7/2017    32.000000       7.25    Rain
5   1/8/2017    32.666667       7.50   Sunny
6   1/9/2017    33.333333       7.75     NaN
7  1/10/2017    34.000000       8.00  Cloudy
8  1/11/2017    40.000000      12.00   Sunny

In [ ]:
data_wea = pd.read_csv('weather.csv')
data_wea

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
data_wea.set_index('day', inplace= True)
data_wea

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [ ]:
nw = data_wea.interpolate( method ='time')
nw

ValueError: ignored

In [ ]:
nwf = data_wea.dropna()
nwf

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [ ]:
drop = data_wea.dropna(how ="all")
drop

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [ ]:
data_wea = pd.read_csv('weather.csv')

In [ ]:
drop = data_wea.dropna(thresh=2)
drop

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
dt = pd.date_range('01-01-2017', '01-11-2017')
idx = pd.DatetimeIndex(dt)
data_wea.reindex(idx)
data_wea

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
! wget -O wea.csv https://raw.githubusercontent.com/codebasics/py/master/pandas/6_handling_missing_data_replace/weather_data.csv

--2022-07-07 04:02:56--  https://raw.githubusercontent.com/codebasics/py/master/pandas/6_handling_missing_data_replace/weather_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 179 [text/plain]
Saving to: ‘wea.csv’

wea.csv             100%[===================>]     179  --.-KB/s    in 0s

2022-07-07 04:02:56 (8.13 MB/s) - ‘wea.csv’ saved [179/179]

In [ ]:
weath =pd.read_csv('wea.csv')
weath

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [ ]:
nw_waeth = weath.replace([-99999,6.0],np.NaN)
nw_waeth

        day  temperature  windspeed  event
0  1/1/2017         32.0        NaN   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [ ]:
replace = {
      'temperature': -99999,
      'windspeed':-99999,
      'event':'0'
}
nw_waeth = weath.replace(replace, np.NaN)
nw_waeth

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0    NaN
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0    NaN

In [ ]:
replace = {
       -99999:np.NaN,
        '0': 'Sunny'
}
nw_waeth = weath.replace(replace)
nw_waeth

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0  Sunny
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0  Sunny